* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

.error {
    color: red;
    text-transform: capitalize;
    user-select: none;
}

.link {
    font-family: consolas;
    text-decoration: underline;
    color: #333;
}

.header {
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    height: 100px;
}

.header h2 {
    margin-bottom: 10px;
}

.header nav a {
    position: relative;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header nav a:hover {
    text-decoration: underline;
}

.header nav .active {
    text-decoration: underline;
}
 
.forget-pass, .auth-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-pass form, .auth-form form {
    width: 300px;
    padding: 20px;
}

.forget-pass input, button, .auth-form input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

.forget-pass input, .auth-form input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.forget-pass button, .auth-form button{
    border-radius: 10px;
    border: none;   
    cursor: pointer;
    width: 330px;
}

.change-pass {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-pass form{
    width: 400px;
    padding: 20px;
}

.change-pass input, button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

.change-pass input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.change-pass button{
    border-radius: 10px;
    border: none;   
    cursor: pointer;
    width: 330px;
}

.change-pass {
    
}